export TF_VAR_email="REPLACE_ME" # example: mymail@mail.de

# ArgoCD access token config, see Readme.md -> Preparation & Requirements -> Point 3
export TF_VAR_git_token="REPLACE_ME"
export TF_VAR_argocd_bootstrap_project_url="REPLACE_ME" # for example https://github.com/victorgetz/otc-infrastructure-charts

# Dockerhub credentials see Readme.md -> Preparation & Requirements -> Point 6
export TF_VAR_dockerhub_username="REPLACE_ME"
export TF_VAR_dockerhub_password="REPLACE_ME"

#informations from the credentials e-mail
export OS_DOMAIN_NAME="REPLACE_ME" # See E-Mail with credentials (otc_tenant)
export TF_VAR_context="REPLACE_ME" # See E-Mail with credentials (contextName)
export OS_USERNAME="REPLACE_ME" # See E-Mail with credentials (username)
export OS_PASSWORD="REPLACE_ME" # See E-Mail with credentials (password)
export OS_ACCESS_KEY="REPLACE_ME" # See E-Mail with credentials (accesskey)
export OS_SECRET_KEY="REPLACE_ME" # See E-Mail with credentials (secretkey)

export TF_VAR_os_domain_name="${OS_DOMAIN_NAME}"
export TF_VAR_region="eu-de"
export TF_VAR_stage="dev"
export TF_VAR_domain_name="${TF_VAR_context}.iits.tech"
export OS_PROJECT_NAME="${TF_VAR_region}_${TF_VAR_context}"


otc-auth login iam
otc-auth openstack config-create

export AWS_ACCESS_KEY_ID=$OS_ACCESS_KEY
export AWS_SECRET_ACCESS_KEY=$OS_SECRET_KEY

unset OS_USERNAME
unset OS_PASSWORD

#### TERRAFORM LOCAL PLUGIN CACHING #####
mkdir -p ${HOME}/Terraform/plugins
export TF_PLUGIN_CACHE_DIR=${HOME}/Terraform/plugins