#context and region
export TF_VAR_context="REPLACE_ME" # See Readme.md -> Preparation & Requirements -> Point 2
export TF_VAR_region="eu-de"

# DNS Config, see Readme.md -> Preparation & Requirements -> Point 3
export TF_VAR_domain_name="REPLACE_ME" # example: {contextname}.my-domain.de
export TF_VAR_email="REPLACE_ME" # example: mymail@mail.de

# Dockerhub credentials see Readme.md -> Preparation & Requirements -> Point 4
export TF_VAR_dockerhub_username="REPLACE_ME"
export TF_VAR_dockerhub_password="REPLACE_ME"

# ArgoCD access token config, see Readme.md -> Preparation & Requirements -> Point 5
export TF_VAR_git_token="REPLACE_ME"
export TF_VAR_argocd_bootstrap_project_url="REPLACE_ME"

# OTC Login Credentials for creating the openstack config, see Readme.md -> Preparation & Requirements -> Point 6
export OS_DOMAIN_NAME="REPLACE_ME" # See Readme.md -> Preparation & Requirements -> Point 1
export TF_VAR_os_domain_name="${OS_DOMAIN_NAME}"
export OS_USERNAME="REPLACE_ME"
export OS_PASSWORD="REPLACE_ME"
export OS_PROJECT_NAME="${TF_VAR_region}_${TF_VAR_context}"
otc-auth login iam
otc-auth openstack config-create

#otc-auth access-token create
#source ./ak-sk-env.sh
#rm ./ak-sk-env.sh
export OS_ACCESS_KEY="REPLACE_ME"
export OS_SECRET_KEY="REPLACE_ME"
export AWS_ACCESS_KEY_ID=$OS_ACCESS_KEY
export AWS_SECRET_ACCESS_KEY=$OS_SECRET_KEY

export TF_VAR_stage="dev"

unset OS_USERNAME
unset OS_PASSWORD

#### TERRAFORM LOCAL PLUGIN CACHING #####
mkdir -p ${HOME}/Terraform/plugins
export TF_PLUGIN_CACHE_DIR=${HOME}/Terraform/plugins
