.DS_Store
HELP.md
.gradle
/build/
!gradle/wrapper/gradle-wrapper.jar
build
.kube/infrastructure
.kube/dev
.kube/qa
.kube/prod

### STS ###
.apt_generated
.classpath
.factorypath
.project
.settings
.springBeans
.sts4-cache
.terraform

### IntelliJ IDEA ###
.idea
*.iws
*.iml
*.ipr
/out/
*/out

### NetBeans ###
/nbproject/private/
/nbbuild/
/dist/
/nbdist/
/.nb-gradle/

### VS Code ###
.vscode/

### Helm ###
/**/.terraform.tfstate.lock.info
/temp/terraform.tfstate
/**/terraform.tfstate
/**/.terraform.lock.hcl
/temp/terraform.tfstate.backup
/**/terraform.tfstate.d/dev/terraform.tfstate.backup
/**/.terraform/plugins/linux_amd64/lock.json
/**/.terraform/environment
/**/terraform.tfvars
/**/*.backup
**/requirements.lock